{% set firstImage = b.ad.images.first() %}
<li class="inllbi5">
	<div class="position-relative">
		<div class="x77lj72">
			<div class="ueyw8f5">
				<a href="{{ path('booking_show', { 'id': b.id }) }}" class="wtwtgvh">
					<div class="actjcrp">
						{% if not firstImage is empty %}
							<img src="{{ vich_uploader_asset(firstImage, 'imageFile') }}" class="inwefag" alt="{{ b.ad.name }}">
						{% else %}
							<img src="{{ asset('build/img/default-img.jpg') }}" class="inwefag" alt="Default Image">
						{% endif %}
					</div>
				</a>
			</div>
			<div>
				<div>
					<span class="l67li92">{{ b.ad.city }}</span>
				</div>
				<div class="xlt91p0">
					<span class="_qv24myd">Hôte :
						{{ b.ad.author.firstname }}</span>
				</div>
				<div class="xlt91p0">
					<span class="_qv24myd">{{ b.startDateAt|format_datetime('long', 'none', locale='fr') }}
						-
						{{ b.endDateAt|format_datetime('long', 'none', locale='fr') }}</span>
				</div>
				<div class="xlt91p0">
					{% if date() > date(b.endDateAt) %}
						{% set comment = b.commentFromAuthor(app.user) %}
						{% if comment is null %}
							<span class="_qv24myd">
								<a href="{{ path('booking_show', { 'id': b.id }) }}#comment" class="h8cmjwa">Vous n'avez pas encore donné de note</a>
							</span>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</li></li>
