{% extends "base.html.twig" %}

{% block title %}
	Votre apperçu du voyage
{% endblock %}

{% block body %}
	<h1>Votre séjour chez ...</h1>
	<div class="row">
		<div class="col-lg-6">
			<div class="booking-sum d-flex align-items-start flex-column">
				<div id="carouselExampleIndicators" class="carousel slide">
					<div class="carousel-indicators">
						{% for key, image in booking.ad.images %}
							<button type="button" data-bs-target="#carouselAdIndicators" data-bs-slide-to="{{ key }}" {% if loop.first %} class="active" {% endif %}></button>
						{% endfor %}
					</div>
					<div class="carousel-inner">
						{% for key, image in booking.ad.images %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ booking.ad.name }}" class="d-block w-100">
							</div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<div class="booking-wrapper w-100">
					<div class="booking-wrapper-info">
						<div class="w-100 d-table">
							<div class="d-table-row">
								<div class="booking-info">
									<h6 class="title-booking-info">Arrivée</h6>
									<div class="date-booking-info">
										{{ booking.startDateAt|format_datetime('long', 'none', locale='fr') }}
									</div>
								</div>
								<div class="booking-info-right">
									<h6 class="title-booking-info">Départ</h6>
									<div class="date-booking-info">
										{{ booking.endDateAt|format_datetime('long', 'none', locale='fr') }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<a href="#" class="text-decoration-none link-to-action">
						<div class="message-to-host">
							<div class="svg-box-message">
								<div class="svg-message"></div>
							</div>
							<span class="name-box-host">
								<span class="title-box-host">Envoyer un message à votre hôte</span>
								<span class="name-box-host">Nom de l'hôte</span>
							</span>
						</div>
					</a>
					<a href="{{ path('ads_show', { 'slug': booking.ad.slug }) }}" class="text-decoration-none link-to-action">
						<div class="message-to-host">
							<div class="svg-box-message">
								<div class="svg-house"></div>
							</div>
							<span class="name-box-host">
								<span class="title-box-host">Votre logement</span>
								<span class="name-box-host">{{ booking.ad.name }}</span>
							</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-6 mt-4 mt-lg-0">
			<div class="host-information-box">
				<section>
					<div class="d-flex justify-content-between align-items-center">
						<div class="mr-12">
							<div class="host-title">
								Hôte :
								{{ booking.ad.author.firstname }}
							</div>
						</div>
						<div class="pic">
							{% set image = booking.ad.author.avatar %}
							{% if image.imageName is defined and image.imageName != null %}
								<img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="sc-img-gravatar">
							{% else %}
								<img src="{{ gravatar('sbouret@discommentondit.fr') }}" class="sc-img-gravatar"/>
							{% endif %}
						</div>
					</div>
					<div class="mt-32">
						<a href="#">
							<div class="host-link">
								Afficher plus
							</div>
						</a>
					</div>
				</section>
			</div>
			<div class="billing-information-box mt-3">
				<section>
					<div class="d-flex justify-content-between align-items-center">
						<div class="mr-12">
							<div class="host-title">
								Informations de paiement
							</div>
						</div>
					</div>
					<div class="mt-32">
						<div class="host-link d-flex flex-column">
							Coût total
							<span class="amount-total">{{ booking.amount|amount }}</span>
						</div>
					</div>
				</section>
			</div>
			<div class="comment-information-box mt-3">
				<section>
					<div class="d-flex justify-content-between align-items-center">
						<div class="mr-12">
							<div class="host-title">
								Merci de laisser un commentaire
							</div>
						</div>
					</div>
					<div class="mt-32">
						<div class="host-link d-flex flex-column">
							Prévoir un textarea
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
