{% extends "base.html.twig" %}

{% block title %}
	Profil de l'hôte
{% endblock %}

{% block body %}
	{% set oldestAdYear = host.getOldestAdYear() %}
	<section class="host">
		<div class="host-container">
			<div class="host-first-part">
				<div class="host-avatar-wrapper">
					<div class="host-avatar-card">
						<div class="left-card-avatar">
							<button type="button" class="button-modal-host" data-bs-toggle="modal" data-bs-target="#avatarModal">
								<div class="avatar-pic-wrapper">
									{% if host.avatar.imageName is defined and host.avatar.imageName != null %}
										<img src="{{ vich_uploader_asset(host.avatar, 'imageFile') }}" class="img-avatar-host">
									{% else %}
										<img src="{{ gravatar('sbouret@discommentondit.fr') }}" class="img-avatar-host"/>
									{% endif %}
								</div>
							</button>
							<div class="left-card-host-firstname">
								<h2 class="p-0 m-0 fs-6">
									<span class="title-card-host-firstname">
										{{ host.firstname }}
									</span>
								</h2>
							</div>
						</div>
						<div class="right-card-avatar">
							<div class="host-assesment">
								<span class="host-assesment-figure">{{ totalComments }}</span>
								<span class="host-assesment-text">évaluations</span>
							</div>
							<hr class="host-assement-hr">
							<div class="host-assesment">
								<span class="host-assesment-figure">{{ avgRating|number_format(2, '.', ',') }}</span>
								<span class="host-assesment-text">en note globale</span>
							</div>
							<hr class="host-assement-hr">
							<div class="host-assesment">
								<span class="host-assesment-figure">{{ oldestAdYear }}</span>
								<span class="host-assesment-text">Hôte depuis ({{ oldestAdYear }})</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="host-second-part">
				<div class="host-informations-wrapper">
					{% include "partials/_host_informations.html.twig" %}
					{% include "partials/_all_comments_for_host.html.twig" %}
					<div class="host-ads-content">
						<hr class="host-hr-content">
						<section>
							<div class="host-ads-wrapper">
								<div class="host-ads-title-controller">
									<div class="host-ads-content-title">
										<h2 class="p-0 m-0 fs-6">
											<span class="host-ads-title">
												Annonces publiées par
												{{ host.firstname }}
											</span>
										</h2>
									</div>
									{% if host.ads|length > 3 %}
										<div class="carousel-buttons">
											<button id="prevButton" class="carousel-button">
												<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
													<path fill="none" d="M20 28 8.7 16.7a1 1 0 0 1 0-1.4L20 4"></path>
												</svg>
											</button>
											<button id="nextButton" class="carousel-button">
												<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
													<path fill="none" d="m12 4 11.3 11.3a1 1 0 0 1 0 1.4L12 28"></path>
												</svg>
											</button>
										</div>
									{% endif %}
								</div>
								<div class="host-ads-content-ads">
									{% for ad in host.ads|slice(0, 10) %}
										{% set firstImage = ad.images.first() %}
										<a href="{{ path('ads_show', { 'slug': ad.slug }) }}" class="text-decoration-none text-black card-link-to">
											<div class="card-wrapper-ad">
												<div class="card card-ad">
													{% if not firstImage is empty %}
														<img src="{{ vich_uploader_asset(firstImage, 'imageFile') }}" class="img-fluid" alt="{{ ad.name }}">
													{% else %}
														<img src="{{ asset('build/img/default-img.jpg') }}" class="img-fluid" alt="Default Image">
													{% endif %}
												</div>
												<div class="card-content-ad">
													<div class="content-ad-intro">
														{{ ad.type }}
													</div>
													<div class="content-ad-description">
														{{ ad.name }}
													</div>
													<span class="content-ad-rating">
													{% set adRating = ad.avgRatings %}
														<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 12px; width: 12px; fill: currentcolor;">
															<path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path>
														</svg>
														{% if adRating > 0 %}
															<span class="content-ad-final-rating">{{ ad.avgRatings|number_format(2, '.', ',') }}</span>
														{% else %}
															Nouveau
														{% endif %}
													</span>
												</div>
											</div>
										</a>
									{% endfor %}
								</div>
								{% if host.ads|length > 10 %}
									<button id="showMoreButton" class="show-more-button">Afficher plus</button>
								{% endif %}
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Modal -->
	<div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5 text-center w-100 fw-bold" id="avatarModalLabel">{{ host.firstname }}</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="avatar-modal-wrapper">
						<div class="position-relative">
							<div class="avatar-modal-content">
								<div class="avatar-modal-picture">
									{% if host.avatar.imageName is defined and host.avatar.imageName != null %}
										<img src="{{ vich_uploader_asset(host.avatar, 'imageFile') }}" class="img-profile">
									{% else %}
										<img src="{{ gravatar('sbouret@discommentondit.fr') }}" class="img-profile"/>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('carousel') }}
	{{ encore_entry_script_tags('carouselComment') }}
	{{ encore_entry_script_tags('loadMoreComments') }}
{% endblock %}
