{% extends "base.html.twig" %}

{% block title %}
	Décrivez votre logement
{% endblock %}

{% block body %}
	<div class="admin-ad-create">
		{{ form_start(form, {'attr': {'class': 'w-100'}}) }}
		<div class="floor-plan-container">
			<div class="mt-auto mb-auto">
				<div class="floor-plan-wrapper">
					<div class="floor-plan-content">
						<div class="floor-content-title">
							<h1 class="floor-title">Créez votre description</h1>
							<div class="floor-subtitle">Racontez ce qui rend votre logement unique.</div>
						</div>
						<div class="name-wrapper">
							<div class="textarea-content">
								<div class="textarea-wrapper">
									{{ form_widget(form.content, {'attr': {'class': 'description-textarea', 'rows': 12}}) }}
								</div>
							</div>
							<div class="textarea-count">
								<div class="textarea-count-size">
									<span>
									<b class="description-count"></b>&nbsp;caractères restants
									</span>
								</div>
							</div>
							{{ form_errors(form.content) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ include('partials/_bottom_admin_ad_next.html.twig', { 'progress': 61.54 }) }}
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('countDescription') }}
{% endblock %}
