{% extends "base.html.twig" %}

{% block title %}
	Saisissez l'emplacement
{% endblock %}

{% block body %}
	<div class="admin-ad-create">
		{{ form_start(form, {'attr': {'class': 'w-100'}}) }}
		<div class="floor-plan-container">
			<div class="mt-auto mb-auto">
				<div class="floor-plan-wrapper">
					<div class="floor-plan-content">
						<div class="floor-content-title">
							<h1 class="floor-title">Où est situé votre logement ?</h1>
							<div class="floor-subtitle">Votre adresse est uniquement communiquée aux voyageurs une fois leur réservation effectuée.</div>
						</div>
						<div class="d-flex flex-column justify-content-center align-items-center">
							{{ form_widget(form.city) }}
							{{ form_widget(form.country) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ include('partials/_bottom_admin_ad_next.html.twig', { 'progress': 38.46 }) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
