{% extends "base.html.twig" %}

{% block title %}
	Saisissez l'emplacement
{% endblock %}

{% block body %}
	<div class="admin-ad-create admin-ad-location">
		<form method="post" action="{{ path('admin_ad_location', {'id': ad.id}) }}" class="w-100">
			<div class="floor-plan-container">
				<div class="mt-auto mb-auto">
					<div class="floor-plan-wrapper">
						<div class="floor-plan-content">
							<div class="floor-content-title">
								<h1 class="floor-title">Où est situé votre logement ?</h1>
								<div class="floor-subtitle">Votre adresse est uniquement communiquée aux voyageurs une fois leur réservation effectuée.</div>
							</div>
							<div class="location-map-container">
								<div class="location-map-wrapper">
									<div class="location-map-content">
										<gmpx-api-loader key="{{ google_api_key }}" solution-channel="GMP_QB_addressselection_v3_cAB"></gmpx-api-loader>
										<gmpx-split-layout row-layout-min-width="600">
											<div class="panel" slot="fixed">
												<div class="d-flex flex-column justify-content-around">
													<div class="pb-4">
														<img class="sb-title-icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/location_pin/v5/24px.svg" alt="">
														<span class="sb-title">Sélectionnez votre adresse</span>
													</div>
													<input type="text" placeholder="Adresse" id="location-input" name="location"/>
												</div>
												<div id="additional-fields" style="visibility: hidden;">
													<input type="text" placeholder="Bâtiment, appartement (optionnel)" name="apt"/>
													<input type="text" placeholder="Ville" id="locality-input" name="locality"/>
													<div class="half-input-container">
														<input type="text" class="half-input" placeholder="Etat/Province" id="administrative_area_level_1-input" name="state"/>
														<input type="text" class="half-input" placeholder="Code postal" id="postal_code-input" name="postal_code"/>
													</div>
													<input type="text" placeholder="Pays" id="country-input" name="country"/>
												</div>
												<!-- Hidden inputs for latitude and longitude -->
												<input type="hidden" id="lat" name="lat">
												<input type="hidden" id="lng" name="lng">
											</div>
											<gmp-map slot="main">
												<gmp-advanced-marker></gmp-advanced-marker>
											</gmp-map>
										</gmpx-split-layout>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{ include('partials/_bottom_admin_ad_next.html.twig', { 'progress': 38.46 }) }}
		</form>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		const google_api_key = "{{ google_api_key }}";
	</script>
	<script type="module" src="{{ asset('assets/js/location.js') }}"></script>
{% endblock %}
