{% extends "base.html.twig" %}

{% block title %}
	Ajoutez des photos
{% endblock %}

{% block body %}
	<div class="admin-ad-create">
		{{ form_start(form, {'attr': {'class': 'w-100'}}) }}
		<div class="picture-plan-container">
			<div class="mt-auto mb-auto">
				<div class="picture-plan-wrapper">
					<div class="picture-wrapper">
						<div class="d-flex flex-column align-items-center">
							<div class="picture-plan-content">
								<div class="picture-content-title">
									<div class="picture-title-button">
										<div class="pic-wrap-title">
											<h1 class="picture-title">Choisissez au moins 5 photos</h1>
											<div class="picture-subtitle">La première image sera la principale</div>
										</div>
										<button type="button" class="add-another-collection-widget">
											<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;">
												<path d="M2 16h28M16 2v28"></path>
											</svg>
										</button>
									</div>
								</div>
								<div class="pictures-wrapper">
									<div class="pictures-wrapper-all-cards">
										<div class="image-input-content">
											{% set prototype %}
											{{ form_widget(form.images.vars.prototype, {'attr': {'class': 'file-input'}}) }}
											{% endset %}
											<div id="prototype-data" data-prototype="{{ prototype|json_encode|e }}"></div>
											{% for i in 0..4 %}
												<div class="image-square {{ i == 0 ? 'full-width' : 'half-width' }}" id="image-square-{{ i }}">
													<span class="icon">
														<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 32px; width: 32px; fill: currentcolor;">
															<path d="M27 3a4 4 0 0 1 4 4v18a4 4 0 0 1-4 4H5a4 4 0 0 1-4-4V7a4 4 0 0 1 4-4zM8.89 19.04l-.1.08L3 24.92V25a2 2 0 0 0 1.85 2H18.1l-7.88-7.88a1 1 0 0 0-1.32-.08zm12.5-6-.1.08-7.13 7.13L20.92 27H27a2 2 0 0 0 2-1.85v-5.73l-6.3-6.3a1 1 0 0 0-1.31-.08zM27 5H5a2 2 0 0 0-2 2v15.08l4.38-4.37a3 3 0 0 1 4.1-.14l.14.14 1.13 1.13 7.13-7.13a3 3 0 0 1 4.1-.14l.14.14L29 16.59V7a2 2 0 0 0-1.85-2zM8 7a3 3 0 1 1 0 6 3 3 0 0 1 0-6zm0 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
														</svg>
													</span>
													{{ prototype|replace({'__name__': i})|raw }}
													<div class="message-actions-picture {{ i == 0 ? 'full-width' : 'half-width' }}">
														{% if i == 0 %}
															<div class="main-picture">Photo principale</div>
															<div class="_s63vo4">
																<button type="button" class="delete-button-ad-img">
																	<i class="far fa-trash-alt"></i>
																</button>
															</div>
														{% else %}
															<div class="_s63vo4">
																<button type="button" class="delete-button-ad-img">
																	<i class="far fa-trash-alt"></i>
																</button>
															</div>
														{% endif %}
													</div>
												</div>
											{% endfor %}
										</div>
										<div>{{ form_errors(form.images) }}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ include('partials/_bottom_admin_ad_next.html.twig', { 'progress': 91.66 }) }}
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/pictures.js') }}" defer></script>
{% endblock %}
