{% extends "base.html.twig" %}

{% block title %}
	Enregistrez votre annonce
{% endblock %}

{% block body %}
	<div class="admin-ad-create">
		{{ form_start(form, {'attr': {'class': 'w-100'}}) }}
		<div class="floor-plan-container">
			<div class="mt-auto mb-auto">
				<div class="floor-plan-wrapper">
					<div class="floor-plan-content">
						<div class="floor-content-title">
							<h1 class="floor-title">À propos de vous</h1>
							<div class="floor-subtitle">Parlez-nous un peu de vous afin que vos futurs hôtes ou voyageurs puissent mieux vous connaître.</div>
						</div>
						<div class="name-wrapper">
							<div class="textarea-content">
								<div class="textarea-wrapper">
									{{ form_widget(form.description, {'attr': {'class': 'description-textarea', 'rows': 12}}) }}
								</div>
							</div>
							<div class="textarea-count">
								<div class="textarea-count-size">
									<span>
									<b class="description-count"></b>&nbsp;caractères restants
									</span>
								</div>
							</div>
							{{ form_errors(form.description) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ include('partials/_bottom_admin_ad_next.html.twig', { 'progress': 100 }) }}
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('countDescription') }}
	{# <script>
document.addEventListener('DOMContentLoaded', function() {
    var nameField = document.getElementById('ad_step9_form_description');
    var counter = document.querySelector('.textarea-count-size span');
    
    nameField.addEventListener('keyup', function() {
        var count = nameField.value.length;
		console.log(count)
        counter.textContent = count + '/1500';

	if (count > 1500) {
        nameField.classList.add('textarea-name-error');
    } else {
        nameField.classList.remove('textarea-name-error');
    }
    });

});

	</script> #}
{% endblock %}
