{% extends "base.html.twig" %}

{% block title %}
	Donnez un titre à votre annonce
{% endblock %}

{% block body %}
	<div class="admin-ad-create">
		{{ form_start(form, {'attr': {'class': 'w-100'}}) }}
		<div class="floor-plan-container">
			<div class="mt-auto mb-auto">
				<div class="floor-plan-wrapper">
					<div class="floor-plan-content">
						<div class="floor-content-title">
							<h1 class="floor-title">À présent, donnez un titre à votre annonce (type : maison)</h1>
							<div class="floor-subtitle">Les titres courts sont généralement les plus efficaces. Ne vous inquiétez pas, vous pourrez toujours le modifier plus tard.</div>
						</div>
						<div class="name-wrapper">
							<div class="textarea-content">
								<div class="textarea-wrapper">
									{{ form_widget(form.name, {'attr': {'class': 'd16kjnld title-textarea', 'rows': 4, 'autofocus': 'autofocus'}}) }}
								</div>
							</div>
							<div class="textarea-count">
								<div class="textarea-count-size">
									<b class="title-count"></b>&nbsp;caractères restants
								</div>
							</div>
							{{ form_errors(form.name) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ include('partials/_bottom_admin_ad_next.html.twig', { 'progress': 53.85 }) }}
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('countTitle') }}
{% endblock %}
